{%load static%}
<!-- Contact Section Started -->
	<section class="contact" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" data-aos="fade-up">
					<h1>CONTACT US</h1>
					<hr style="width: 10%">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" data-aos="fade-up">	
					<p>
						<span class="fa fa-map-marker"></span>
							 Address: Dwarahat, Almora, Uttarakhand
					</p>
					<p>
						<span class="fa fa-envelope"></span>
 							Email: director@kecua.ac.in
						
					</p>
					<p>
						<span class="fa fa-globe"></span>
 							Website: www.kecua.ac.in
						
					</p>
					<p>
						<span class="fa fa-phone"></span>
 							 Phone: 05966-244250
						
					</p>
					<p>
						<span class="fa fa-fax"></span>
 							Fax: 05966-244114
						
					</p>
				</div>
				<div class="col-sm-6" data-aos="fade-up">
					<div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
			            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3">
			                <script>(function () {
			                    var setting = {"height":400,"width":800,"zoom":15,"queryString":"Dwarahat, Uttarakhand, India","place_id":"ChIJTfAtUVZUpzkRAr4FjbVzyZU","satellite":false,"centerCoord":[29.778192874695698,79.42887794999999],"cid":"0x95c973b58d05be02","lang":"en","cityUrl":"/india/dwarahat-380772","cityAnchorText":"Map of Dwarahat, India","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"175479"};
			                    var d = document;
			                    var s = d.createElement('script');
			                    s.src = 'https://embedgooglemap.1map.com/js/script-for-user.js?embed_id=175479';
			                    s.async = true;
			                    s.onload = function (e) {
			                      window.OneMap.initMap(setting)
			                    };
			                    var to = d.getElementsByTagName('script')[0];
			                    to.parentNode.insertBefore(s, to);
			                    })();
			                </script><a href="https://embedgooglemap.1map.com?embed_id=175479">1 Map</a></div>
			    	</div>
				</div>
			</div>
		</div>		
	</section>
	<!-- Contact Section Ended -->