{%load static%}
<!-- events section started -->
	<section class="sec3" id="activity">
		<div class="container">
			<div class="contentBox h100 " >
				<div>
					<h1 style="margin-top: 10px;">Events</h1>
					<hr style="width: 50%;background-color:#fff;">
					<div class="row">
						<div class="col-sm-12">
							<a href="event.html" class="logo"><i class="fa fa-calendar-check-o"></i>
							<h2>Event 2020</h2>
							</a>
						</div>

					</div>
					
				</div>
			</div>	
		</div>
	</section>
	<!-- events section ended -->