{%load static%}
<!-- Footer Section Started -->
<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="sci">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
					<p class="cpryt">
						&copy; Copyright 2020 | <a href="https://kecua.ac.in/">kecua.ac.in</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section Ended -->