{% load static %}

<!-- Made With Love by Prashant Pandey. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IEEE|BTKIT</title>

    <!-- Favicon icon -->
    <link href="{%static 'images/favicon.ico'%}" rel="shortcut icon" type="image/vnd.microsoft.icon">

    {%include 'css.html'%}

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">

  	{%include 'nav.html'%}



  	{%block content%}



  	{% endblock content%}


	<!-- Jumbo Heading for Topic Started -->
	<div class="jumbotron jumbotron-fluid height100p banner" id="home">
	  <div class="container h100">
	    <div class="contentBox h100" data-aos="fade-up">
	    	<p>
	    		Institute of Electrical and Electronics Engineers
	    	</p>	    	
	    	<h1>IEEE BTKIT DWARAHAT</h1>
 	    </div>
	  </div>
	</div>
	<!-- Jumbo Heading for Topic Ended-->
	<!-- Society Section Started -->
	<section class="blog" id="society">
		<div class="container">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText" data-aos="fade-up">
						<h2>Socities in BTKIT Dwarahat</h2>
					</div>
				</div>
			</div>		
			<div class="row">
				<div class="col-sm-6" data-aos="fade-up">
					<div class="blogpost">
						<a href="https://signalprocessingsociety.org/">
						<div class="imgbx">
							<img src="{%static 'images/sp.jpg'%}" class="img-fluid" style="height: 500px">
						</div>
						<div class="content">
							<h1>
								SIGNAL PROCESSING SOCIETY
							</h1>
							<p>
								The IEEE's first society, the Signal Processing Society is the world’s premier professional society for signal processing scientists and professionals since 1948.
							</p>
														
						</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6" data-aos="fade-up">
					<div class="blogpost">
						<a href="https://ieee-pels.org">
						<div class="imgbx">
							<img src="{%static 'images/pels.jpg'%}" class="img-fluid" style="height: 500px">
						</div>
						<div class="content">
							<h1 style="text-transform: uppercase;">
								Power Electronics Society
							</h1>
							<p>
								The Power Electronics Society is one of the fastest growing technical societies of the Institute of Electrical and Electronics Engineers (IEEE). 
							</p>
														
						</div>
						</a>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<!-- Society Section Ended -->
	<section class="sec2" id="about">
		<div class="container h100">
			<div class="contentBox h100 " data-aos="fade-up">
				<div>
					<h1>About Us</h1>
					<p>IEEE BTKIT DWARAHAT is a student chamber of the Institute of Electrical & Electronics Engineers. We are a student run
organization at BTKIT Dwarahat .Our motive is to success in our field, to find ourselves and be someone to be a contributor in
the emerging technology, explore many new things, enhance ourselves, to gather new experiences, to learn new technologies and
innovation in the developing and being an engineering student we want to uplift and enhance our human race and use our
knowledge and resources for the betterment of our society and IEEE being the perfect platform for us. And with this we hope we
can bring a positive change in our surroundings
In BTKIT, IEEE Student Branch Chamber was made under the guidance and mentorship of Dr. V K Kakar (Electronics &
Communication Eng. Branch Coordinator).
					</p>
				</div>
			</div>	
		</div>
	</section>
	<!-- Society Section Ended -->
	
	{% include 'members.html'%}


	{%include 'events.html'%}
	

	{%include 'contact.html'%}

	{%include 'footer.html'%}

	{%include 'js.html'%}
  </body>
</html>