{%load static%}
<!-- Member Section Started -->
	<section class="sec1" id="members">
		<div class="container">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText text-center">
						<h2>Members</h2>
					</div>
					
				</div>
			</div>
			<div class="row" data-aos="fade-up">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/Varun_sir.jpeg'%}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Dr. Varun Kumar Kakar<br><span>Branch Counsellor IEEE<br>Faculty Advisor Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
			<div class="row" >
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/prashant.jpg' %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Prashant Pandey<br><span>Chairperson<br>IEEE Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/rajat.jpeg' %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Rajat Tiwari<br><span>Secretary<br>IEEE Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/kriti.jpg' %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Kriti Tripathi<br><span>Treasurer<br>IEEE Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/drishti.jpeg'%}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Drishti Pant<br><span>Member<br>IEEE Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/himanshu.jpeg' %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Himanshu Chand<br><span>Member<br>IEEE Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{%static 'persons/pooja.jpeg'%}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Pooja Agarwal<br><span>Member<br>IEEE Signal Processing Society</span></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Member Section Ended -->