{%load static%}
<!-- Member Section Started -->
	<section class="sec1" id="members">
		<div class="container">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText text-center">
						<h2>Members</h2>
					</div>
					
				</div>
			</div>
			{% for j in s %}
			<div class="row" data-aos="fade-up">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{{j.image_mem}}" class="img-fluid">
						</div>
						<div class="content">
							<h3>{{j.name_member}}<br><span>{{j.title}}<br>{{j.society_mem}}</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
			{% endfor %}
			<div class="row" >

				{%for j in member%}
				 
				<div class="col-sm-4" data-aos="fade-up">
					<div class="placeBox">
						<div class="imgBx">
							<img src="{{j.image_mem}}" class="img-fluid">
						</div>
						<div class="content">
							<h3>{{j.name_member}}<br><span>{{j.title}}<br>{{j.society_mem}}</span></h3>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>
	<!-- Member Section Ended -->