{%load static%}
<!-- Society Section Started -->
	<section class="blog" id="society">
		<div class="container">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText" data-aos="fade-up">
						<h2 style="text-align: center;">Socities in BTKIT Dwarahat</h2>
					</div>
				</div>
			</div>	
				
			<div class="row">
				{%for n in society%}
				<div class="col-sm-6" data-aos="fade-up">
					<div class="blogpost">
						<a href="https://signalprocessingsociety.org/">
						<div class="imgbx">
							<img src="{{n.image_so}}" class="img-fluid" style="height: 500px">
						</div>
						<div class="content">
							<h1>
								{{n.name_so}}
							</h1>
							<p>
								{{n.discription}}
							</p>
														
						</div>
						</a>
					</div>
				</div>
				{%endfor%}
			</div>	
			
		</div>
	</section>